/* This stylesheet is for only the main contents of the schedule's page */
main {
  padding: 40px 180px;
}
table {
  border-spacing: none;
  border-collapse: collapse;
  margin-bottom: 40px;
}
table th {
  font-weight: 100;
  width: 20%;
}
table td {
  width: 40%;
  padding-bottom: 20px;
}
table thead .title {
  font-size: 22px;
  color: var(--color1);
  padding-right: 40px;
  padding-bottom: 30px;
}
table thead th:nth-child(2) {
  text-align: left;
  padding-bottom: 30px;
}
.grey {
  color: var(--color2);
}
table tbody td {
  border-top: 1.5px solid rgb(175, 175, 175);
  padding-top: 20px;
}
table tbody tr .time {
  padding-right: 40px;
}

.title,
.time {
  text-align: right;
}
table tbody tr td:nth-of-type(1) {
  padding-right: 5px;
}
table tbody tr .na-me {
  font-weight: 600;
  color: var(--color4);
}
table tbody tr .na-me p {
  font-weight: 100;
  color: var(--color3);
  line-height: 22px;
}
